body{
	background-color: white;
}

h1{
	text-align: center;
	font-family: 'Righteous', cursive;
	font-size: 70px;
	color: black;

}

p{
	font-family: 'Poiret One', cursive;
	font-size: 23px;
	color: black;
}

#box{
	border: 5px solid black;
	width: 100%;
	height: 80%;
	justify-content:  space-around;
}


#img{

	width: 200px;
	height: 300px;
	position: relative;
	padding-right: 100px;
	padding-left: 100px;
	margin-top: 100px;
	margin-left: 730px;
	margin-right: 730px;
	align-items: center;	
}

#gif{
	margin-top: auto;
	margin-left: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

button {
border: 2px dashed black;    
background-color: black;   
font-family: 'Righteous', cursive;
font-size: 50px;
color: white;   
width: 200px;
height: 70px;  
margin-top: 100px;
margin-right: 850px;
margin-left: 850px;
margin-bottom: 100px;
}



#display, #timer{
  color: black;
  font-family: 'Righteous', cursive;
  font-size: 30px; 
}

